.neo-rhythm-canvas {
  width: 3.69rem;
  height: 38.97%;
  margin: 0 auto;
  margin-top: 0.33%;
}

.neo-rhythm-canvas > .energetic {
  width: 3.69rem;
  background: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
