.neo-rhythm-canvas {
  width: 3.69rem;
  height: 38.97%;
  margin: 0 auto;
  margin-top: 0.33%;
}

.neo-rhythm-canvas > .energetic {
  width: 100%;
  height: 100%;

  .neo-rhythm-canvas {
    width: 100%;
    height: 100%;
  }
}
