.main-page {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .08rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  & .card-container {
    width: 100%;
    height: 100%;
    padding: 1.4% 0;
    background: #171967;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    & .title-img {
      height: 1.66%;
      width: 3.11rem;
      background: url("../../common/assets/energetic/main-page/2020-title.png") no-repeat center;
      background-size: contain;
    }

    & .title {
      height: 3.48%;
      width: 2.75rem;
      background: url("../../common/assets/energetic/main-page/title.png") no-repeat center;
      background-size: contain;
      margin-top: 1.66%;
    }

    & .main-dot {
      height: 9.45%;
      width: 3.09rem;
      background: url("../../common/assets/energetic/main-page/main-dot.png") no-repeat center;
      background-size: contain;
      margin-top: 1.33%;
    }

    & .sub-dot {
      height: 11.61%;
      width: 3.17rem;
      background: url("../../common/assets/energetic/main-page/sub-dot.png") no-repeat center;
      background-size: contain;
      //margin-top: .66%;
    }

    & .separate-line {
      height: 0.33%;
      width: 2.81rem;
      background: url("../../common/assets/energetic/main-page/seperate-line.png") no-repeat center;
      background-size: contain;
      //margin-top: 1.33%;
    }

    /* second separate line */
    & :nth-child(8) {
      height: 0.33%;
      width: 2.81rem;
      background: url("../../common/assets/energetic/main-page/seperate-line.png") no-repeat center;
      background-size: contain;
      margin-top: 1.33%;
    }


    & .slogan {
      position: relative;
      height: 7.46%;
      width: 1.48rem;
      background: url("../../common/assets/energetic/main-page/slogan.png") no-repeat center;
      background-size: contain;
      margin-top: 1.33%;

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: .55rem;
        width: .69rem;
        left: -.77rem;
        top: .08rem;
        background: url("../../common/assets/energetic/main-page/cloud-left.png") no-repeat center;
        background-size: contain;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: .55rem;
        width: .69rem;
        right: -.77rem;
        top: .08rem;
        background: url("../../common/assets/energetic/main-page/cloud-right.png") no-repeat center;
        background-size: contain;
      }
    }

    & .pad {
      position: relative;
      height: 29.85%;
      width: 1.76rem;
      background: url("../../common/assets/energetic/main-page/pad.png") no-repeat center;
      background-size: contain;
      margin-top: 1.33%;

      & .left-animation {
        content: '';
        display: block;
        position: absolute;
        height: .73rem;
        width: .73rem;
        left: -.6rem;
        top: 1.1rem;
        background: url("../../common/assets/energetic/main-page/left-animation.png") no-repeat center;
        background-size: contain;
        animation: spinning 3s infinite ease-out;
      }

      & .right-element {
        content: '';
        display: block;
        position: absolute;
        height: .47rem;
        width: .63rem;
        right: -.6rem;
        top: 1.4rem;
        background: url("../../common/assets/energetic/main-page/right-element.png") no-repeat center;
        background-size: contain;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: .54rem;
        width: .85rem;
        left: -.6rem;
        top: .38rem;
        background: url("../../common/assets/energetic/main-page/pad-left.png") no-repeat center;
        background-size: contain;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: .76rem;
        width: .95rem;
        right: -.65rem;
        top: .38rem;
        background: url("../../common/assets/energetic/main-page/pad-right.png") no-repeat center;
        background-size: contain;
      }
    }

    & .start {
      height: 7.79%;
      width: 3.2rem;
      background: url("../../common/assets/energetic/main-page/start.png") no-repeat center;
      background-size: contain;
      margin-top: 1.33%;
    }

    & .footer-chinese {
      height: 7.3%;
      width: 3.13rem;
      background: url("../../common/assets/energetic/main-page/footer-chinese.png") no-repeat center;
      background-size: contain;
      margin-top: 1.33%;
    }

    & .footer-english {
      height: 1.99%;
      width: 2.99rem;
      background: url("../../common/assets/energetic/main-page/footer-english.png") no-repeat center;
      background-size: contain;
      margin-bottom: 0.66%;
    }
  }
}

.main-page-animated > .card-container {

}

.main-page-animated {
  background: #171967;
  animation: linear .7s transColor;
}

.main-page-animated div {
  animation: linear .7s hide-all;
}

@keyframes spinning {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes transColor {
  from {
    background-color: rgba(17, 19, 67, 1);
  }
  to {
    background-color: rgba(17, 19, 67, .8);
  }
}

@keyframes hide-all {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
