.neo-drum-canvas {
  width: 3.69rem;
  height: 14.93%;
  margin: 0 auto;
  margin-top: 0.33%;
}

.neo-drum-canvas > .energetic {
  width: 100%;
  height: 100%;

  .neo-drum-canvas {
    width: 100%;
    height: 100%;
  }
}
