/*
 * @Author: jujube
 * @Date: 2019-12-09 00:08
 * @Description: base css
 * @Last Modified time: 2019-12-09 00:08
 */

@import './reset.css';

* {
  -webkit-touch-callout: none; /* */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-appearance: none;
}
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 0.5px 边框 */

.border-left,
.border-right,
.border-top,
.border-bottom,
.border-all {
  position: relative;

  &:before {
    position: absolute;
    pointer-events: none;
    content: '';
    box-sizing: border-box;
    transform-origin: 0 0;
    border: 0 solid rgba(22, 24, 35, 0.12);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.border-left:before {
  border-left-width: 1px;
}

.border-right:before {
  right: 0;
  top: 0;
  border-right-width: 1px;
}

.border-top:before {
  left: 0;
  top: 0;
  border-top-width: 1px;
}

.border-bottom:before {
  border-bottom-width: 1px;
}

.border-all:before {
  border-width: 1px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .border-left:before,
  .border-right:before {
    width: 200%;
    transform: scaleX(0.5) translateZ(0);
  }

  .border-top:before,
  .border-bottom:before {
    height: 200%;
    transform: scaleY(0.5) translateZ(0);
  }

  .border-all:before {
    width: 200%;
    height: 200%;
    transform: scale(0.5, 0.5) translateZ(0);
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .border-left:before,
  .border-right:before {
    width: 300%;
    transform: scaleX(0.333333) translateZ(0);
  }

  .border-top:before,
  .border-bottom:before {
    height: 300%;
    transform: scaleY(0.333333) translateZ(0);
  }

  .border-all:before {
    width: 300%;
    height: 300%;
    transform: scale(0.333333, 0.333333) translateZ(0);
  }
}

.with-webkit-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-webkit-flex-all-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
